<head id="bab" th:replace="layout :: site-head"></head>

<div th:replace="layout :: site-header"></div>
    <form action="/sell" method="post">
        <fieldset>
            <div class="form-select">
                <select name="symbol">
                    <option   placeholder="Symbol"></option>

                        <option th:each="share:${share}">[[${share.symbol}]]</option>

                </select>
            </div>
            <div class="form-group">
                <input class="form-control" name="shares" placeholder="Shares" type="number" min="0">
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </fieldset>
    </form>
<div th:replace="layout :: site-footer"></div>
